<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% if is_static %}./static/styles.css{% else %}/static/styles.css{% endif %}">
</head>
<body>
    <h1><a href="{% if is_static %}./index.html{% else %}/{% endif %}" style="text-decoration: none; color: inherit;">ZSM Properties Blog</a></h1>
    <p><small>{{ post.date }}</small></p>
    <div>{{ post.content | safe }}</div>
    <a href="{% if is_static %}./index.html{% else %}/{% endif %}">Back to Home</a>
</body>
</html>