<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% if is_static %}./static/styles.css{% else %}/static/styles.css{% endif %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QFRQ05SBEZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-QFRQ05SBEZ');
    </script>
</head>
<body>
<header>
<nav>
<button id="hamburger" aria-label="Toggle navigation">☰</button>
<div id="nav-links">
<a href="{% if is_static %}./index.html{% else %}/{% endif %}">Home</a>
<a href="{% if is_static %}./zsm_seven_intro.html{% else %}/post/zsm_seven_intro{% endif %}">ZSM Seven</a>
<a href="{% if is_static %}./archive.html{% else %}/archive{% endif %}">Archive</a>
<a href="https://x.com/ZSMProperties">Contact</a>
</div>
</nav>
</header>
    <h1><a href="{% if is_static %}./index.html{% else %}/{% endif %}" style="text-decoration: none; color: inherit;">ZSM Properties - Market Insights</a></h1>
    <hr/>
    <div class="main-content">{{ post.content | safe }}</div>
    <div class="toc-box">
        <h2>Latest</h2>
        <ul>
        {% for post in posts[:5] %}
            <li><a href="{% if is_static %}./{{ post.slug }}.html{% else %}/post/{{ post.slug }}{% endif %}">{{ post.date }} - {{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <a href="{% if is_static %}./index.html{% else %}/{% endif %}">Back to Home</a>
<script src="{% if is_static %}./static/scripts.js{% else %}/static/scripts.js{% endif %}" defer></script>
</body>
</html>